<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- 	<property file="${logback.config.location.fatturefee}" /> -->

<!-- 	<property name="HOME_LOG" value=${reWriter.logging.path}/> -->
	<property name="FILE_NAME_LOG" value="ReWriter.log" />
	<property name="LEVEL_LOGGING" value="info" />
	<property name="MAX_FIL_SIZE" value="10MB" />
	<property name="TOTAL_SIZE_CAP"	value="10MB" />
	<property name="MAX_HISTORY" value="4" />
	<property name="PATTERN_NAME" value="reWriter.%d{yyyy-MM-dd}.%i.log" />
	<property name="PATTERN" value="%logger{0} - %msg%n" />
	<property name= "CONSOLE_PATTERN" value = "%logger{0} - %msg%n"></property>

	<appender name="CONSOLE"	class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${reWriter.logging.path}${FILE_NAME_LOG}</file>
		<rollingPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${reWriter.logging.path}${PATTERN_NAME}</fileNamePattern>
			<maxFileSize>${MAX_FIL_SIZE}</maxFileSize>
			<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
			<maxHistory>${MAX_HISTORY}</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>


	<root level="${LEVEL_LOGGING}">
		<appender-ref ref="FILE-ROLLING" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>